<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="Login" appConnect="local" components="{dmxNotifications:{},dmxBrowser:{},dmxStateManagement:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxBootbox5:{},dmxFormatter:{}}" jquery_slim_35="local" moment_2="local" -->
<link href="/css/Login.css" rel="stylesheet" />
<meta content="/Login" name="ac:route">
<div id="browser" is="dmx-browser">
</div>
<dmx-cookie-manager id="cookies">
</dmx-cookie-manager>
<dmx-notifications id="notify" timeout="500">
</dmx-notifications>
<div class="d-flex" fid="18:10251" id="Login">
    <div class="main1_wrapper" fid="18:10253" id="main1_wrapper">
        <div class="d-flex" fid="18:10253" id="main1">
            <img fid="18:10278" fname="image03" height="760.0px" id="image03" src="/assets/images/image03.png" width="555.0px">
            <div class="d-flex" fid="18:10279" id="mainarea">
                <div class="d-flex" fid="18:10280" id="textarea">
                    <span fid="18:10281" fname="Добро пожаловать! 👋🏻" id="_18_10281">
                        Добро пожаловать! 👋🏻
                    </span>
                    <span fid="18:10282" fname="FindJob - это уникальная платформа,где компании и фрилансеры могут находить другдруга для сотрудничества в сфере IT" id="_18_10282">
                        FindJob - это уникальная платформа,
                        <br>
                        где компании и фрилансеры могут находить друг
                        <br>
                        друга для сотрудничества в сфере IT
                    </span>
                </div>
                <div class="d-flex" fid="18:10283" id="Frame_1707480454">
                    <div class="d-flex" fid="18:10284" id="Frame_1707480281">
                        <div fid="18:10285" id="Frame_1707480217">
                            <div class="_18_10287_wrapper" fid="18:10287" fname="Email" id="_18_10287_wrapper">
                                <span fid="18:10287" fname="Email" id="_18_10287">
                                    Email
                                </span>
                            </div>
                        </div>
                        <div class="d-flex" fid="18:10288" id="Frame_1707480450">
                            <div fid="18:10289" id="Frame_1707480284">
                                <div fid="18:10291" fname="Frame 1707480449" id="_18_10291">
                                    <span fid="18:10292" fname="Пароль" id="_18_10292">
                                        Пароль
                                    </span>
                                    <div class="Icon_grid" fid="18:10293" fname="eye" id="_18_10293">
                                        <div fid="I18:10293;251:10546" fname="Icon" id="_I18_10293-251_10546">
                                            <svg fill="none" height="14" viewbox="0 0 18 14" width="18" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.974945 7.21503C0.860865 7.0344 0.803825 6.94408 0.771894 6.80477C0.74791 6.70013 0.74791 6.53511 0.771894 6.43047C0.803825 6.29116 0.860865 6.20085 0.974945 6.02021C1.91767 4.52749 4.72377 0.753906 9.00009 0.753906C13.2764 0.753906 16.0825 4.52749 17.0252 6.02021C17.1393 6.20085 17.1964 6.29116 17.2283 6.43047C17.2523 6.53511 17.2523 6.70013 17.2283 6.80477C17.1964 6.94408 17.1393 7.0344 17.0252 7.21503C16.0825 8.70775 13.2764 12.4813 9.00009 12.4813C4.72377 12.4813 1.91767 8.70775 0.974945 7.21503Z" stroke="#81889C" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                                </path>
                                                <path d="M9.00009 9.13064C10.388 9.13064 11.5131 8.00552 11.5131 6.61762C11.5131 5.22972 10.388 4.1046 9.00009 4.1046C7.61219 4.1046 6.48707 5.22972 6.48707 6.61762C6.48707 8.00552 7.61219 9.13064 9.00009 9.13064Z" stroke="#81889C" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex" fid="18:10294" id="Frame_1707480283">
                                <div fid="18:10295" fname="Frame 1707480284" id="_18_10295">
                                    <div fid="18:10296" fname="Frame 1707480206" id="_18_10296">
                                        <div fid="18:10297" fname="Group 1321317019" id="_18_10297">
                                            <div fid="18:10298" fname="Rectangle 1458" id="_18_10298">
                                                <svg fill="none" id="_18_10298_svg" preserveaspectratio="none" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <rect height="19" opacity="0.5" rx="5.5" stroke="#81889C" width="19" x="0.5" y="0.5">
                                                    </rect>
                                                </svg>
                                            </div>
                                        </div>
                                        <span fid="18:10300" fname="Запомнить меня" id="_18_10300">
                                            Запомнить меня
                                        </span>
                                    </div>
                                    <span fid="18:10301" fname="Забыли пароль?" id="_18_10301">
                                        Забыли пароль?
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fid="18:10302" fname="Frame 1707480451" id="_18_10302">
                        <div fid="18:10303" fname="Frame 1707480217" id="_18_10303">
                            <div class="_18_10305_wrapper" fid="18:10305" fname="Войти" id="_18_10305_wrapper">
                                <span fid="18:10305" fname="Войти" id="_18_10305">
                                    Войти
                                </span>
                            </div>
                        </div>
                        <div fid="18:10306" fname="У вас ещё нет аккаунта? Зарегистрируйтесь" id="_18_10306" type="text-container">
                            <span class="_18_10306_0">У вас ещё нет аккаунта? </span><span class="_18_10306_1">Зарегистрируйтесь</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex" fid="18:10307" id="botton_links1">
                <span fid="18:10308" fname="Политика обработки данных" id="_18_10308">
                    Политика обработки данных
                </span>
                <span fid="18:10309" fname="Условия использования сайта" id="_18_10309">
                    Условия использования сайта
                </span>
            </div>
        </div>
    </div>
    <div fid="18:10310" fname="Huge-icon/interface/outline/remove" id="_18_10310">
        <div fid="I18:10310;105:3239" fname="Vector" id="_I18_10310-105_3239">
            <svg fill="none" height="13" viewbox="0 0 13 13" width="13" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.4883 1.51174L1.51168 11.4883M11.4883 11.4883L1.51168 1.51168" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
                </path>
            </svg>
        </div>
    </div>
</div>